.buyerDashboardContainer {
  margin: 50px;
}
.latestProducts {
  margin-top: 30px;
}
.buyername {
  color: cadetblue;
  font-size: 50px;
}
.latestCard {
  width: 200px;
  margin: 10px 10px;
  border: none !important;
  border-radius: 0 !important;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}
