/* .bg-dark {
    background-color: #ffffff;
} */

/* .navbar-dark .navbar-brand {
  color: rgb(0, 0, 0);
  padding: 2rem;
} */

.navbar-light .navbar-brand {
  color: rgb(255, 0, 0)!important;
}

.navbar2 {
  padding: 1rem;
  color: green !important;
  z-index: 21;
}

.navbarmain {
  background-color: #ffffff;
}

.navbarSeller {
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,0) 48%, rgba(64,140,141,0.6222864145658263) 100%, rgba(0,212,255,1) 100%);
  color: green!important;
}

.nav-link {
  color: black;
}
/* 

.navbar-light .navbar-nav .nav-link {
  color: black;
}



.logo {
  color: green!important;
}

/* body {
  color: red;
} */

.navbar-light .navbar-nav .nav-link {
  color: red !important;
  z-index: 1;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: green !important;
}

.MainNav {
  position: sticky !important;
}

.right {
  color: black !important;
  font-size: 12pt;
}

.right:hover{
  color: #408c8d !important;
}
.rightgiveback{
  color: rgb(228, 100, 179)!important;
  font-size: 12pt;
}
.rightgiveback:hover{
  color:rgb(216, 176, 216)!important;
}

.logo {
  /* color: #238c8c!important;
  font-weight: bolder; */
  padding-left: 2rem;
}

