.dashboardContainer {
  margin: 50px;
}

.dashboardTitle {
  font-size: 25px;
  margin-left: 20px;
  color: rgb(253, 199, 100);
}
.dashboardText {
  font-size: 30px;
}
.dashboardCard {
  margin-bottom: 10px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 100px;
}

.card-title {
  margin-bottom: .75rem;
  text-align: center;
}