.sideContainer {
  width: 250px;
  float: left;
/* background-color: #000; */
}
.card {
  border: none;
  margin: 20px;
}
.link {
  font-size: medium;
  /* font-weight: bold; */
  color: #363636;
}
.link:focus {
  color: #3d3d3d;
  border-bottom: 2px solid #008000;
}

/* Brand */
.searchContainer {
  margin: 20px 0;
}
.search {
  margin: 20px 0;
  color: rgb(13, 82, 22);
}
.all {
  margin-top: 50px;
}
