.buyersidebar {
  background-color: #bfecca83;
  height: 100%;
  min-height: 100vh;
  overflow-y: hidden;
  width: 20vw;
  padding: 50px;
  position: static;
}
.buyerdashBoardLink {
  color: rgb(4, 71, 32);
  font-size: medium;
  font-weight: bolder;
  list-style-type: none;
  margin-bottom: 40px;
}

.buyerDashboardContainer {
  margin: 50px;
}
