.buyersidebar {
  background-color: #000;
  height: 100%;
  min-height: 100vh;
  overflow-y: hidden;
  width: 20vw;
  padding: 50px;
  position: static;
}
.buyersideItems a {
  color: rgb(187, 187, 187);
  list-style-type: none;
  margin-bottom: 40px;
}
.buyersideItems a:hover {
  color: rgb(255, 255, 255);
  /* font-weight: bold; */
  text-decoration-color: rgb(255, 255, 255) !important;
}

.buyerDashboardContainer {
  margin: 50px;
}
