
.footer {
    position: absolute;
    bottom: 0px;
    color: black;
}

a {
    color: #000000;
    text-decoration: none!important;
    background-color: transparent;
}

a:hover{
    color:#408c8d;
    text-decoration: none;
}
/* 
.stickyFooterStyle {
    background-color: white;
    font-size: 13pt;
    color: black;
    border-top: 1px solid #E7E7E7;
    text-align: center;
justify-content: center;
    padding:8px;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    word-spacing: 1.5rem;
    z-index: 1;
} */