.sidebar {
  height: 100%;
  min-height: 100vh;
  width: 250px;
  padding: 40px;
  background-color: whitesmoke;
  border-right: 1px solid #ddd;
}

.link {
  width: 180px;
  color: #000000;
  font-size: 15px;
  font-weight: bolder;
  list-style-type: none;
  margin-bottom: 40px;

  
}



.icon {
  font-size: 18px;
  margin-right: 10px;
}
