.sidebar {
  background-color: #000;
  height: 100%;
  min-height: 100vh;
  overflow-y: hidden;
  width: 20vw;
  padding: 50px;
  position: static;
}
.dashBoardLink {
  color: #fff;
  list-style-type: none;
  margin-bottom: 40px;
}
